# Binaries
*.exe
*.dll
*.so
*.dylib
bell.exe
bell_linux
bell_arm64
smartbell*
*.pdb

# Database (Local data)
*.db
database.db
database.db-journal

# Database (Local data)
*.db
database.db
database.db-journal

# Uploads (Keep structure but ignore content)
public/assets/audio/*
!public/assets/audio/.gitkeep
public/assets/photos/*
!public/assets/photos/.gitkeep

# System
.DS_Store
Thumbs.db
tmp/
